.Skill-Section{
    height: 80%;
    width: 93%;
    display: flex;
    gap: 2%;
}
.AboutSkill{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 89%;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    background-color: rgba(36, 35, 35, 0.849);
    padding: 2%;
    text-align: center;
}
.MySkills{
    width: 60%;
    height: 100%;
}
.MySkills ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    overflow:auto;
}
.MySkills ul li{
    width: 30%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: rgba(36, 35, 35, 0.849);
}