.Skill-Section{
    height: 80%;
    width: 95%;
    display: grid;
    grid-template-columns: 1.5fr 3.5fr;
    grid-template-rows: 100% 100%;
    gap:min(20px);
}
.AboutSkill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    background-color: rgba(36, 35, 35, 0.849);
    padding: 2%;
    text-align: center;
}
.MySkills{

}
.MySkills ul{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    gap: 20px;
}
.MySkills ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: rgba(36, 35, 35, 0.849);
}