.menu{
    display: none;
}
.showMenu{
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    color: white;
    background-color: var(--background-dark);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: white 0.5px solid;

}
.closeMenu{
    display: none;
    width: 3rem;
    height: 3rem;
    color: white;
    background-color: var(--background-dark);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: white 0.5px solid;
}

@media (max-width: 524px), (max-height: 524px) {
    .menu{
        display: flex;
        position: fixed;
        bottom: 1.5rem;
        right: 1.5rem;
    }
}