
.navbar {
    height: 8%;
    width: 35%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-xl);
    background-color: var(--navbar-color);
    backdrop-filter: var(--backdrop-blur-heavy);
    box-shadow: var(--box-shadow);
    bottom: -5%;
}

.navbar ul {
    display: flex;
    gap: var(--gap-md);
}

.navbar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}
