
.navbar {
    height: 9%;
    width: auto;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-xl);
    background-color: var(--navbar-color);
    backdrop-filter: var(--backdrop-blur-heavy);
    box-shadow: var(--nav-box-shadow);
    bottom:0%;   
    transform: translateY(65%) translateX(10%);
    overflow: hidden;
    animation: navMenu 0.3s ease-in-out;
}

.navbar ul {
    display: flex;
    gap: var(--gap-md);
    padding: 3px 10px 3px 10px;
}

.navbar ul li{
    padding: 7px 1px 7px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-small);
    font-weight: 300;
}

.navbar ul li:hover{
    background-color: rgb(107, 114, 114);
    border-radius: 20px;
    cursor:pointer;
}

@media (max-width: 824px) {

}

@media (max-width: 524px), (max-height: 524px) {
.navbar {
    height: auto;
    display: none;
    position:fixed;
    bottom: 1.5rem;
    right:80px;
    transform: translateY(0%) translateX(0%);
    border: 0.3px rgba(110, 110, 109, 0.767) solid;
}
.navbar ul{
    gap: var(--gap-sm);
}
.navbar ul li a{
    flex-direction: column;
    gap: 3px;
}
}

@keyframes navMenu {
    0%{
        width: 0%;
    }
    80%{
        width:35%;
    }
    100%{
        width: auto;
    }
}