.certification{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 100%;
    height: 90%;
    width: 100%;
    gap: 10px;
    overflow:scroll;
}
.certificate{
    display: flex;
    width: 20%;
    height: 100%;
    background-color: black;
}
.certificate img{
    height: 100px;
    width: 100px;
    overflow: hidden;
}