
.Content {
    border-radius: var(--radius-lg);
    width: 70%;
    height: var(--height-full);
    position: relative;
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--background-semi-dark);
    backdrop-filter: var(--backdrop-blur-light);
    box-shadow: var(--box-shadow);
}

.heading {
    display: flex;
    width: var(--width-full);
    height: 15%;
    align-items: center;
    justify-content: space-between;
}

.message {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 20px;
    width: auto;
    height: var(--height-full);
    justify-content: center;
}

.message h2 {
    font-size: calc(22px + 0.3vw);
}

.message h5 {
    font-size: calc(16px + 0.3vw);
    font-weight:500;
}

.resume {
    height: var(--height-full);
    width: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
}

.resume ul {
    height: auto;
    padding: 10px 20px 10px 20px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-radius: var(--radius-xl);
    background-color: var(--background-dark);
    box-shadow: 0px 0px 2px;
}

.resume ul li {
    display: flex;
    font-size: calc(11px + 0.3vw);
    cursor:pointer;
    padding: 0px 5px 0px 5px;
}
@media (max-width: 1120px) {
    .Content {
        width: 80%;
    }
}
@media (max-width: 920px) {
    .Content {
        width: 85%;
    }
}

@media (max-width: 720px) {

    .heading {
        height: 8%;
    }
        
}

@media (max-width: 620px) {
        .resume ul {
        height: auto;
        padding: 5px 10px 5px 10px;
        width: auto;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
    }
    .resume ul li{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:720px) {
    .Content {
        background-color: transparent;
         backdrop-filter: none;
        box-shadow:none;
    }
    
}