/*tv or larg screen*/

.Content {
    border-radius: var(--radius-lg);
    width: 70%;
    height: var(--height-full);
    position: relative;
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--background-semi-dark);
    backdrop-filter: var(--backdrop-blur-light);
    box-shadow: var(--box-shadow);
}

.heading {
    display: flex;
    width: var(--width-full);
    height: 15%;
    align-items: center;
    justify-content: space-between; 
    gap: 10px;
}

.message {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 20px;
    width: auto;
    gap: 5px;
    height: var(--height-full);
    justify-content: center;
}

.message h2 {
    display: flex;
    font-size: calc(22px + 0.3vw);
}

.message h5 {
    font-size: calc(16px + 0.3vw);
    font-weight:500;
}

.resume {
    height: var(--height-full);
    width: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
}

.resume ul {
    height: auto;
    padding: 10px 20px 10px 20px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-radius: var(--radius-xl);
    background-color: var(--background-dark);
    box-shadow: 0px 0px 2px
}

.resume ul li {
    display: flex;
    font-size: calc(11px + 0.3vw);
    cursor:pointer;
    padding: 0px 5px 0px 5px;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1024px) {
    .Content {
        width: 80%;
    }
}
@media (max-width: 824px) {
    .Content {
        width: 85%;
    }
}

@media (max-width: 524px), (max-height: 700px) {

    .Content{
        width: 95%;
    }

    .heading {
        height: auto;
        background-color: var(--background-dark);
        border-radius: 20px;
        margin-bottom: 15px;
        width: 95%;
        padding: 10px;
    }
    .Content {
        background-color: transparent;
        backdrop-filter: none;
        box-shadow:none;
    }
        
    .resum-text{
        display: none;
    }
    .resume ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 8px;
        border-radius: 20px;
    }
    .resume ul :nth-child(1){
        grid-column: 1/3;
    }
    .resume ul li{
        padding: 1px;
    }
    .resume {
        grid-column: 1/3;
    }
    
}