main{
    height: 80vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

@media (max-width: 524px), (max-height: 524px) {
    main{
        height: 182vh;
      }
}

@media (max-height: 524px) {
    main{
      height: 235vh;
    }
  }