.ContactPage{
    height: 80%;
    width: 95%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}
.contactForm{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(36, 35, 35, 0.849);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.formBtn{
    width: 25%;
    height: 8%;
    color: black;
    border-radius: 10px;
    border: solid transparent 1px;
}
.inputcon {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 18%;
    align-items: center;
    justify-content: center;
    position: relative;
}
.inputcon input{
    color: black;
    width: 90%;
    height: 60%;
    border-radius: 10px;
    border: solid 1px black;
    padding-left: 10px;
    font-size: 16px;
    outline: none;
}
.inputcon label{
    margin-bottom: 6px;
    width: 90%;
}
.message label{
    margin-bottom: 6px;
    width: 90%;
}
.ContactPage .message{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: unset;
    position: relative;
}
.message textarea{
    height: 75%;
    width: 90%;
    color: black;
    display: flex;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 16px;
    overflow: hidden;
    outline: none;
}
.link{
    height: 100%;
    width: 100%;
    background-color: rgba(36, 35, 35, 0.849);
    border-radius: 20px;
    display: flex;
}
.link ul{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.link li{
    display: flex;
    background-color: rgb(53, 49, 49);
    height: 75%;
    width: 20%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 150%;
}
