
.AboutPage {
  display: grid;
  gap: var(--gap-lg);
  width: var(--container-width);
  height: var(--container-height);
  align-items: start;
  font-family: var(--font-family);
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
}

.about-img {
  height: var(--height-full);
  width: var(--width-full);
  overflow: hidden;
  border-radius: var(--radius-md);
  background-color:  var(--background-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: var(--radius-md);
  box-shadow: var(--card-shadow);
  overflow: hidden;
  object-position: top;
}

.about-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
  background-color:  var(--background-dark);
  border-radius: var(--radius-md);

}

.about-item{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
  width: 90%;
}

.about-item h3 {
  margin: 0;
  font-size: var(--font-size-medium);
  color: var(--primary-color);
}

.about-item p {
  margin: var(--gap-sm) 0 0 0;
  color: var(--secondary-color);
  font-size: 15px;
  line-height: 1.5;
}

.about-item h3 {
  margin: 0;
  font-size: var(--font-size-medium);
  color: var(--primary-color);
}

.about-item p {
  margin: var(--gap-sm) 0 0 0;
  color: var(--secondary-color);
  font-size: var(--font-size-small);
  line-height: 1.5;
}
@media (max-width: 524px), (max-height: 700px) {
  .AboutPage {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
} 
  