
.AboutPage {
  display: flex;
  gap: var(--gap-lg);
  width: var(--container-width);
  height: var(--container-height);
  align-items: start;
  font-family: var(--font-family);
  overflow: hidden;
}

.about-img {
  height: var(--height-full);
  width: 35%;
  overflow: hidden;
  border-radius: var(--radius-md);
}

.about-img img {
  width: var(--width-full);
  height: var(--height-full);
  object-fit: cover;
  border-radius: var(--radius-md);
  box-shadow: var(--card-shadow);
  overflow: hidden;
}

.about-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  overflow: hidden;
  align-items: start;
  justify-content: start;
}

.about-item h3 {
  margin: 0;
  font-size: var(--font-size-medium);
  color: var(--primary-color);
}

.about-item p {
  margin: var(--gap-sm) 0 0 0;
  color: var(--secondary-color);
  font-size: 15px;
  line-height: 1.5;
}

.about-item h3 {
  margin: 0;
  font-size: var(--font-size-medium);
  color: var(--primary-color);
}

.about-item p {
  margin: var(--gap-sm) 0 0 0;
  color: var(--secondary-color);
  font-size: var(--font-size-small);
  line-height: 1.5;
}
@media (max-width: 760px) {
  .AboutPage {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-img {
    height: 50%;
    width: auto;
  }
  .about-details {
    height: 40%;
    width: 80%;
  }
} 
  