.HomePage{
    height: 80%;
    width: 95%;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

}
.message{
    background-color: rgba(36, 35, 35, 0.849);
}
.photo {
    background-color: rgba(36, 35, 35, 0.849);
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }
.photo img {
    width: auto;
    height: 100%;
    object-fit:contain;
    border-radius: 20px; 
  }
  
.example{
    background-color: rgba(36, 35, 35, 0.849);
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
}
.skills{
    background-color: rgba(36, 35, 35, 0.849);
}
.language{
    background-color: rgba(36, 35, 35, 0.849);
}