
.sidebar {
    height:auto;
    width: auto; 
    align-items: center;
    justify-content: flex-start;
    padding-right: 2rem;
    animation: sideMenu 0.3s ease-in-out;
    overflow: hidden;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--height-full);
    width: auto;
    border-radius: var(--radius-xl);
    background-color: var(--navbar-color);
    backdrop-filter: var(--backdrop-blur-light);
    box-shadow: var(--box-shadow);
    padding: 10px 5px 10px 5px;
}
.sidebar ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
    gap:2px;
    height: 25%;
    width: var(--width-full);
    padding: 8px 0px 8px 0px;
}

@keyframes sideMenu {
    0%{
        height: 0%;
    }
    80%{
       height:30%;
    }
    100%{
       height: auto;
    }
}

@media (max-width: 824px) {
    .sidebar {
        padding-right: 10px;
    }
}

@media (max-width: 524px), (max-height: 524px) {
.sidebar {
    display: none;
    height: auto;
    position:fixed;
    z-index: 200;
    bottom: 80px;
    right: 1.5rem;;
    justify-content: flex-end;
    padding-right: unset;
    border-radius: var(--radius-xl);
}

.sidebar ul {
padding: 15px 5px 20px 5px;
}

}
