
.sidebar {
    height:auto;
    width: auto; 
    align-items: center;
    justify-content: flex-start;
    padding-right: 2rem;
    animation: sideMenu 0.3s ease-in-out;
    overflow: visible;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--height-full);
    width: auto;
    border-radius: var(--radius-xl);
    background-color: var(--navbar-color);
    backdrop-filter: var(--backdrop-blur-nav);
    box-shadow: var(--nav-box-shadow);
    padding: 10px 3px 10px 3px;
    overflow: hidden;
}
.sidebar ul li {
   height: 25%;
   width: 100%;
}

.sidebar ul li:hover{
    background-color: rgb(107, 114, 114);
    border-radius: 20px;
    cursor:pointer;
 }

.sidebar ul li a:hover{
    color: black;
    font-weight: 600;
}

.sidebar ul li a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
    gap:2px;
    width: var(--width-full);
    padding: 8px 0px 8px 0px;
    list-style: none;
    font-weight: 400;
}

@keyframes sideMenu {
    0%{
        height: 0%;
    }
    80%{
       height:30%;
    }
    100%{
       height: auto;
    }
}

@media (max-width: 824px) {
    .sidebar {
        padding-right: 10px;
    }
}

@media (max-width: 524px), (max-height: 524px) {
.sidebar {
    display: none;
    height: auto;
    position:fixed;
    z-index: 200;
    bottom: 80px;
    right: 1.5rem;;
    justify-content: flex-end;
    padding-right: unset;
    border-radius: var(--radius-xl);
}

.sidebar ul {
padding: 15px 5px 20px 5px;
border: 0.3px rgba(158, 157, 156, 0.767) solid;
}

}
