footer{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    z-index: 1000;
    background-color:rgb(29, 25, 25);
    gap: 5px;
}

footer .footerLink{
    display: flex;
    gap: 10px;
    font-size: calc(23px + 0.3vw);
}

footer .footerMenu{
    display: flex;
}

footer .footerMenu ul{
    display: flex;
    gap: 10px;
}

footer .footerText{
    display: flex;
}

@media (max-width: 524px), (max-height: 524px) {
    footer{
        margin-top: 5vh;
        height: 20vh;
    }
}

@media (max-height: 524px) {
    footer{
        margin-top: 0vh;
        height: 30vh;
    }
}