footer{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: start;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10vh;
    background-color:rgb(29, 25, 25);
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
}

footer .footerLink{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

footer .footerLink a{
    font-size: 250%;
    line-height:0px;
}

footer .footerMenu{
    display: flex;
}

footer .footerMenu ul{
    display: flex;
    gap: 10px;
    height: auto;
    width: auto;
}

footer .footerMenu ul li a{
    text-decoration: none;
}

footer .footerText{
    display: flex;
    align-items: start;
    justify-content: center;
}

@media (max-width: 524px), (max-height: 524px) {
    footer{
        margin-top: 2vh;
        height: 18vh;
        flex-direction: column;
        gap: 3px;
    }

    footer .footerMenu{
        flex-grow: 0;
        height: auto;
        width: 100%;
        padding-left: 0px;
        justify-content: center;
        align-items: center;
    }

    footer .footerLink{
        flex-grow: 0;
        height: auto;
        width: 100%;
        padding-right: 0px;
        justify-content: center;
        align-items: center;
    }

    footer .footerText{
        flex-grow: 0;
        height: auto;
    }
}

@media (max-height: 524px) {
    footer{
        margin-top: 2vh;
        height: 28vh;
    }
}