
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110vh;
    width: var(--width-full);
    background-color: transparent;
    background-repeat: no-repeat;
  }

  @media (max-width: 524px), (max-height: 524px) {
    .app {
      height: 210vh;
      width: var(--width-full);
    }
  }
  
  @media (max-height: 524px) {
  
    .app {
      height: 310vh;
      width: var(--width-full);
    } 
  }