.app{
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;
  background-image: url(./Image/background_2.jpg);
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  position: relative;
}
li:hover{
  transition: 0.4s;
  background-color: #c6c1c1bd;
  border-radius: 1rem;
}