
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: var(--height-full);
    width: var(--width-full);
    background-image: url(/Images/Background/background_2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }